---
import { Laws } from "@collections";

interface Props {
    law: Laws.Law
}

const { law } = Astro.props;

const changers = await Laws.getChangers(law);
import { getActChangeColours } from "@comptime";
---
<style>
    div.law-card {
        display: block;
        margin-bottom: 25px;
        box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
        color: #373151;
        text-decoration: none;
        font-family: "nta", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.25;
    }

    div.law-card-internal {
        position: relative;
        display: flex;
        padding: 10px 15px 10px 15px;
        border-left: 10px solid #1D70B8;
        justify-content: space-between;
        flex-direction: column;
    }

    div.law-card-content {
        flex-grow: 1;
    }

    div.law-card-title {
        font-size: 20px;
        font-weight: 500;
    }

    div.law-card-supplement {
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-top: 1px dotted rgb(203, 201, 205);
        margin-top: 7px;
        margin-right: -15px;
        margin-bottom: -10px;
        color: #717171;
        font-size: 18px;
        font-weight: 400;
    }

    details.law-details {
        margin-bottom: 0 !important;
    }

    a.open-law-link {
        float: right;
    }
</style>

<div class="law-card">
    <div class="law-card-internal">
        <div class="law-card-content">
            <div class="law-card-title">
                <a href={law.googledoc} class="govuk-link open-law-link" target="_blank">Open</a>
                {law.name}
            </div>
            <div class="law-card-supplement">
                <details class="govuk-details law-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                View history
                            </span>
                    </summary>
                    <div class="govuk-details__text">
                        <table class="govuk-table">
                            <tbody class="govuk-table__body">
                                {changers.map((changer) => (
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">
                                            <a href={"/news/" + changer.act.slug} class="govuk-link">
                                                {changer.act.data.headline}
                                            </a>
                                        </th>
                                        <td class="govuk-table__cell govuk-!-text-align-right">
                                            <strong class="govuk-tag" style={`background-color: #${getActChangeColours(changer.kind).background};`}>
                                                {function(){switch (changer.kind) {
                                                    case "passage":
                                                        return "Enacted";
                                                    case "amendment":
                                                        return "Amended";
                                                    case "repeal":
                                                        return "Repealed";
                                                    default:
                                                        return "Changed";
                                                }}()}
                                            </strong>
                                        </td>
                                    </tr>
                                ))}
                            </tbody>
                        </table>
                    </div>
                </details>
            </div>
        </div>
    </div>
</div>
