---
layout: page
nochin: true
---
<style>
    div.law-card {
        display: block;
        margin-bottom: 25px;
        box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
        color: #373151;
        text-decoration: none;
        font-family: "nta", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.25;
    }

    div.law-card-internal {
        position: relative;
        display: flex;
        padding: 10px 15px 10px 15px;
        border-left: 10px solid #1D70B8;
        justify-content: space-between;
        flex-direction: column;
    }

    div.law-card-content {
        flex-grow: 1;
    }

    div.law-card-title {
        font-size: 20px;
        font-weight: 500;
    }

    div.law-card-supplement {
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-top: 1px dotted rgb(203, 201, 205);
        margin-top: 7px;
        margin-right: -15px;
        margin-bottom: -10px;
        color: #717171;
        font-size: 18px;
        font-weight: 400;
    }

    details.law-details {
        margin-bottom: 0 !important;
    }

    a.open-law-link {
        float: right;
    }
</style>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            {% include component_LawsSection.html header="Constitution" type="constitution" fallback="Icenia currently has no Constitutional documents." %}
        </div>
        <div class="govuk-grid-column-one-half">
            {% include component_LawsSection.html header="States" type="statehood" fallback="Icenia currently has no States." %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            {% include component_LawsSection.html header="Ordinary Law" type="statute" fallback="Icenia currently has no statutes." %}
        </div>
        <div class="govuk-grid-column-one-half">
            {% include component_LawsSection.html header="Treaties" type="treaty" fallback="Icenia currently has no treaties." %}
        </div>
    </div>
</div>

<br/><br/><hr/>

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Expired Laws
        </span>
    </summary>
    <div class="govuk-details__text">
        {% assign law_expired = site.data.laws.entries | where: "hidden", "true" %}
        {% for law in law_expired %}
            {% include function_findChangesByLaw.html target=law.slug %}
            {% include component_LawCard.html law=law changes=matchedlaws %}
            {% assign matchedlaws = nil %}
        {% endfor %}
    </div>
</details>