---
import { Structs } from "@helpers";
import PageLayout from "@layouts/page.astro";

// Use https://toolscord.com/ to get the pfps
const officials = [
    Structs.official(["President"], "ChrisChrispie", "https://cdn.discordapp.com/avatars/161282206113857537/50400918bb4967bb7d6bfe87c91bbf75?size=1024"),
    Structs.official(["Secretary of Defense", "Magistrate"], "Shadno", "https://cdn.discordapp.com/avatars/96706920664006656/7704d451b2f88fbc9c1294f7e2196b96?size=1024"),
    Structs.official(["Secretary of Interior"], "Cammo37", "https://cdn.discordapp.com/avatars/849695036085501974/a_c2d5826a31da0d30f7e455dd370a4800?size=1024"),
    Structs.official(["Secretary of Treasury"], "Anvil", "https://cdn.discordapp.com/avatars/164188981293088769/2c254c3c8280692107fdbc64612118f6?size=1024"),

    Structs.official(["Speaker of the Senate", "Senator"], "Quanton_Biscuit", "https://cdn.discordapp.com/avatars/206194261295759363/514ed455c84a0a7ac7cc5b8f133cd6d6?size=1024"),
    Structs.official(["Senator"], "Orinnari", "https://cdn.discordapp.com/avatars/90274652185706496/9a8f81572caa7288faa19fce48984b01?size=1024"),
    Structs.official(["Senator"], "Drekamor", "https://cdn.discordapp.com/avatars/1031922996916527124/447fec9f4d18b1f7a0f54449a9fd963c?size=1024"),
    Structs.official(["Senator"], "Zolo17", "https://cdn.discordapp.com/avatars/284408888109957130/30aa94056d05d8e1cc43430628906faf?size=1024"),
    Structs.official(["Senator"], "Raeders", "https://cdn.discordapp.com/avatars/921152800401018970/1a5dfe1507a15f44112e46e5e57be298?size=1024"),
    Structs.official(["Senator", "Magistrate"], "7_misun", "https://cdn.discordapp.com/avatars/143920509833314304/fe85af26411424f49a8a39e09bd14ff8?size=1024"),
    Structs.official(["Senator"], "imtigertim", "https://cdn.discordapp.com/avatars/342463690383294465/ffac87f67232e889f5ff9911dec4c17a?size=1024"),

    Structs.official(["Chief Magistrate", "Magistrate"], "SpeedyJustice", "https://cdn.discordapp.com/avatars/634227976904507422/e8a3c8114565a0ba2ac736fb16fa1db7?size=1024"),
    Structs.official(["Magistrate"], "logonts", "https://cdn.discordapp.com/avatars/262009847669719040/385a99be851042fa79dd7e5eae6a2045?size=1024"),
    Structs.official(["Magistrate"], "Okx", "https://cdn.discordapp.com/avatars/115090410849828865/f8513fbdec797019d1c08d710752ee38?size=1024"),
    Structs.official(["Magistrate"], "OYK FreestyleSR", "https://cdn.discordapp.com/avatars/307311721653993473/4c79805e63516320c20e987941ac8a80?size=1024"),
];
---
<style>
    .officials-centred {
        text-align: center;
    }

    .officials-parent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .officials-wrapper {
        width: 200px;
        flex: 0 0 200px;
        margin: 5px;
        text-align: center;
    }

    .official-card {
        width: 200px;
        border: 2px solid #1C1C1C;
        border-radius: 3px;
        margin: 0 auto;
        padding: 10px 0;
    }

    .official-pfp {
        display: block;
        margin: 5px auto;
        border-radius: 75px;
    }

    .official-name {
        display: block;
        font-weight: bold;
    }

    .official-title {
        display: block;
        font-size: 14px;
    }
</style>

<PageLayout chin={false}>
    <div class="officials-centred">
        <div class="officials-parent">
            {officials.map((official) => (
                <div class="officials-wrapper">
                    <div class="official-card">
                        <img src={official.pfp} class="official-pfp" width="150px" height="150px"/>
                        <span class="official-name">{official.name}</span>
                        <span class="official-titles">{official.titles.map((title) => <span class="official-title">{title}</span>)}</span>
                    </div>
                </div>
            ))}
        </div>
    </div>
</PageLayout>
