---
import { Structs } from "@helpers";
import PageLayout from "@layouts/page.astro";

// Use https://toolscord.com/ to get the pfps
const officials = [
    Structs.official(["President"], "ChrisChrispie", "https://cdn.discordapp.com/avatars/161282206113857537/17cccf139335fe0ae821b666d1de47f7?size=1024"),
    Structs.official(["Secretary of Defense"], "Drekamor", "https://cdn.discordapp.com/avatars/1031922996916527124/447fec9f4d18b1f7a0f54449a9fd963c?size=1024"),
    Structs.official(["Secretary of Interior"], "Xcios", "https://cdn.discordapp.com/avatars/574380122539294726/a_03d32642fb654c9de616672c3d44c227?size=1024.png"),
    Structs.official(["Secretary of Treasury"], "Anvil", "https://cdn.discordapp.com/avatars/164188981293088769/2c254c3c8280692107fdbc64612118f6?size=1024"),

    Structs.official(["Speaker of the Senate","Senator"], "Quanton_Biscuit", "https://cdn.discordapp.com/avatars/206194261295759363/5b2c41a46b0ff5ec513cf30a29f9d079?size=1024"),
    Structs.official(["Chief Magistrate", "Magistrate"], "Kingstell", "https://cdn.discordapp.com/avatars/634227976904507422/e081a428f417b67ebdccddcd9952fc6c?size=1024"),
    Structs.official(["Senator"], "Shadno", "https://cdn.discordapp.com/avatars/96706920664006656/7704d451b2f88fbc9c1294f7e2196b96?size=1024"),
    Structs.official(["Senator"], "Gjum", "https://cdn.discordapp.com/avatars/952698769177182249/70406531bfc7a5909bc0b0b587d03ac8?size=1024"),
    Structs.official(["Senator"], "Lagiacrus", "https://cdn.discordapp.com/avatars/361331422377672705/090b200af9958bb1a0861032a413b22d?size=1024"),
    Structs.official(["Senator"], "Complexii", "https://cdn.discordapp.com/avatars/489416445089021952/079d3f8bcb18a067f56b4c3ca97fabdf?size=1024"),
    Structs.official(["Senator"], "Gentle__Giant", "https://cdn.discordapp.com/avatars/322896038845218822/9eaf6f04fbd3aa86a528e55aec70677b?size=1024"),
    Structs.official(["Senator","Magistrate"], "7_misun", "https://cdn.discordapp.com/avatars/143920509833314304/fe85af26411424f49a8a39e09bd14ff8?size=1024"),
];
---
<style>
    .officials-centred {
        text-align: center;
    }

    .officials-parent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .officials-wrapper {
        width: 200px;
        flex: 0 0 200px;
        margin: 5px;
        text-align: center;
    }

    .official-card {
        width: 200px;
        border: 2px solid #1C1C1C;
        border-radius: 3px;
        margin: 0 auto;
        padding: 10px 0;
    }

    .official-pfp {
        display: block;
        margin: 5px auto;
        border-radius: 75px;
    }

    .official-name {
        display: block;
        font-weight: bold;
    }

    .official-title {
        display: block;
        font-size: 14px;
    }
</style>

<PageLayout chin={false}>
    <div class="officials-centred">
        <div class="officials-parent">
            {officials.map((official) => (
                <div class="officials-wrapper">
                    <div class="official-card">
                        <img src={official.pfp} class="official-pfp" width="150px" height="150px"/>
                        <span class="official-name">{official.name}</span>
                        <span class="official-titles">{official.titles.map((title) => <span class="official-title">{title}</span>)}</span>
                    </div>
                </div>
            ))}
        </div>
    </div>
</PageLayout>
