---
import PageLayout from "@layouts/page.astro";
---
<PageLayout chin={false}>
    <h1>Error</h1>

    <p>The page you are looking for either doesn't exist or is not here anymore.</p>

    <p>Click <a href="/">here</a> to go back to the home page.</p>
</PageLayout>
